<div id="modalWarningDelete" class="modal fade">
	            <div class="modal-dialog">
	                <div class="modal-content">      
	                    <div class="modal-body text-center">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                        <p>Etes-vous sûr de vouloir supprimer ce type de lieu ?</p>
	                        <div class='wrapper text-center'>
	                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="suppressionTypelieu({{idTypelieu}})">Oui</button>
	                            <button type="button" class="btn btn-default" data-dismiss="modal" >Non</button>
	                        </div>
	                    </div>
	                </div>
	            </div>       
</div>