<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Icone upload</title>
		
	</head>

	<body>
		<form id="upload" method="post" action="{{ path("site_carto_submituploadIcone") }}" enctype="multipart/form-data">
			<div class="form-group">
                <label for="recipient-name" class="control-label">Label :</label>
                <input type="text" class="form-control" id="label" name="label" placeholder="Nom">
        	</div>
			<div id="drop">
				Fichier à uploader :
				<input type="file" name="icone" />
			</div>
			<ul>
				<!-- The file uploads will be shown here -->
				<span id="msgError"> </span>
			</ul>
			<button type="submit" class="btn btn-primary" id="savetypelieu">Sauvegarder</button>
		</form>		

		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>		
	</body>
</html>