{% extends "SiteCartoBundle::layout.html.twig" %}

{% block body %}
      <img class="img-full-width" src="http://fanaru.com/doge/image/18361-doge-follow-your-dreams.jpg" alt="Smiley face">
	  
	  <p>Construction de la page :</p>
	  <p>Menu en haut de la page comme sur le site Trail</p>	
	  <p>Lien : Accueil, Carte, Itinéraires (recherche) et bouton de connexion/fiche membre</p>	  
	  <p>Au milieu de la page : grand bandeau d'un screen de la map, pour y acceder</p>
	  
	  <p>en bas page de contact et autre</p>
	  <p>et habillage divers</p>
	  
	  <p>et couleur VERTE</p>
	  
	  <p>footer et tout le tralala</p>
	  
{% endblock %}
